name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 17 * * 1'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: jvm-js
          - name: scala-native
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
    - run: git show --oneline --check
    - run:  |
        case ${{ matrix.name }} in
          "jvm-js")
            sbt -v \
            scalafmtCheckAll \
            scalafmtSbtCheck \
            "+ Test/compile" \
            "+ test" \
            "+ publishLocal"
            ;;
          "scala-native")
            sbt -v "+ msgpack4zNativeNative/test"
            ;;
          *)
            echo "unknown job-name"
            exit 1
        esac
